:root {
    /*### Colors ###*/

    /*Primary*/
    --clr-bg-intro_and_email: hsl(217, 28%, 15%);
    --clr-bg-main: hsl(218, 28%, 13%);
    --clr-bg-footer: hsl(216, 53%, 9%);
    --clr-bg-testimonials: hsl(219, 30%, 18%);

    /*Accent*/
    --clr-cyan: hsl(176, 68%, 64%);
    --clr-blue: hsl(198, 60%, 50%);
    --clr-light-red: hsl(0, 100%, 63%);

    /*Neutral*/
    --clr-white: hsl(0, 0%, 100%);

    /*### Fonts ###*/

    /*Headings, Call-to-actions, Header Navigation*/
    --ff-headings: "Raleway";
    --fw-headings-400: 400;
    --fw-headings-700: 700;
    --fs-headings: 2.3rem;
    /*Body*/
    --ff-body: "Open Sans";
    --fw-body-400: 400;
    --fw-body-700: 700;
    --fs-body: 1.4rem;
}

/*### RESET CSS ###*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg{
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*### END RESET CSS ###*/

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    font-family: var(--ff-body);
    color: var(--clr-white);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--clr-bg-intro_and_email);
    padding: 2rem 0;
}

.logo {
    width: 8.5rem;
}

.nav-links {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.intro {
    display: grid;
    grid-template-rows: 1fr 10rem 1fr;
    grid-template-columns: 1fr;
    text-align: center;
}

.curvy {
    background-image: url("images/bg-curvy-mobile.svg");
    background-repeat: no-repeat;
    background-position: 0 24rem;
    background-color: var(--clr-bg-intro_and_email);
    padding: 4rem 2rem 8rem;
    grid-row: 1 / 3;
    grid-column: 1;
}

.overlap-heading {
    font-size: var(--fs-headings);
    font-family: var(--ff-headings);
    font-weight: var(--fw-headings-700);
    max-width: 40ch;
    margin: 0 auto;
    padding: 2rem 2rem;
    grid-row: 2 / 3;
    grid-column: 1;
    z-index: 1;
}

.dark-intro {
    background-color: var(--clr-bg-main);
    padding: 2rem 2rem;
}

.dark-intro p {
    margin: 2rem 0 0;
}

.btn-cyan {
    background-color: var(--clr-cyan);
    border: none;
    border-radius: 5rem;
    font-size: 1.8rem;
    color: var(--clr-white);
    font-family: var(--fs-headings);
    font-weight: var(--fw-headings-700);
    margin-top: 3rem;
    padding: 1.2rem 9rem;
}

.info-cards {
    margin: 0 auto;
    text-align: center;
    padding: 4rem 2rem;
    background-color: var(--clr-bg-main);
}

.i-card {
    margin: 0 0 10rem;
}

.i-card img{
    margin: 0 auto;
}

.i-card h2 {
    font-size: 1.8rem;
    font-family: var(--fs-headings);
    font-weight: var(--fw-headings-700);
    margin: 2rem 0 1rem;
}

.i-card p {
    max-width: 39ch;
    margin: 0 auto;
}

.i-card:last-child p:last-child {
   max-width: 42ch;
}

.how-works {
    background-color: var(--clr-bg-main);
    text-align: left;
    padding: 0 2rem;
}

.how-works h2 {
    font-size: 1.8rem;
    font-family: var(--fs-headings);
    font-weight: var(--fw-headings-700);
    margin: 2rem 0 1rem;
}

.how-works p {
    margin: 1.5rem 0;
}
