@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
	--desaturated-red: hsl(0, 36%, 70%); 
	--soft-red: hsl(0, 93%, 68%);
	--dark-grayish: hsl(0, 6%, 24%);
}

body {
	font-family: 'Josefin Sans';
	font-size: 16px;
	background-image: url(images/bg-pattern-desktop.svg);
	margin: 0;
	height: 100vh;
}

.div-logo {
	display: flex;
	width: 100%;
}

.div-logo img{
	padding: 2rem 2rem;
	width: 7rem;
}

.container {
	display: flex;	
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

.div-img {
	width: 100%;
	height: 100vh;
}

.div-img img {
	width: 100%;
	margin: 0;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.content h1 span {
	font-weight: 300;
	color: var(--desaturated-red);
}

.content h1 {
	text-transform: uppercase;
	font-size: 2.5rem;
	font-weight: 600;
	padding-top: 3rem;
	margin: 0;
	color: var(--dark-grayish);
	text-align: center;
	letter-spacing: .7rem;
	max-width: 20rem;
}

.content p {
	font-weight: 400;
	color: var(--desaturated-red);
	text-align: center;
	max-width: 17.9rem;
	padding: 2rem;
	margin: 0;
}

.content form {
	width: 100%;
	margin-bottom: 5rem;
	position: relative;
}

input {
	border-style: none;
	padding-left: 2rem;
	width: 75%;
	height: 2.5rem;
	border: 2px solid var(--desaturated-red);
	border-radius: 2rem;
	margin-left: 2rem;
}

button {
	width: 4rem;
	height: 3rem;
	border-style: none;
	padding: 0;
	background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 63%));
	position: absolute;
	border-radius: 2rem;
	bottom: 0;
	right: 5%;
}

button::before {
	content: '';
	background-image: url(images/icon-arrow.svg);
	background-repeat: no-repeat;
	background-position: center;
	width: 1rem;
	height: 3rem;
	position: absolute;
	top: 0;
	left: 45%;
}

button:hover {
	background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 77%));
	box-shadow: 3px 3px 2px grey;
}

@media (min-width: 40rem) {
	.container {
		display: grid;
		grid-template-areas:
			'logo image'
			'content image';
	}

	.div-logo {grid-area: logo;}
	.content {grid-area: content;}
	.div-img {grid-area: image;}

	.div-logo {
		height: 100%;
	}

	.div-logo img {
		height: 2rem;
		padding-left: 8rem;
		padding-top: 5rem;
	}

	.div-img {
		display: flex;
		justify-content: flex-end;
	}

	.div-img img {
		max-width: 75%;
	}

	.content {
		width: 40rem;
		align-items: flex-start;
	}

	.content h1 {
		font-size: 4rem;
		text-align: left;
		padding-left: 8rem;
	}

	.content p {
		max-width: 27rem;
		text-align: left;
		padding-left: 8rem;
	}

	.content input {
		margin-left: 8rem;
		width: 60%;
	}

	button {
		right: 12%;
	}
}



