@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@400;500;600;700&display=swap');

*, *::before,
*::after {
	box-sizing: border-box;
}

:root {
	--clr-vry-lght-blue: hsl(240, 78%, 98%);
	--clr-lght-blue: hsl(234, 14%, 74%);
	--clr-gry-blue: hsl(233, 13%, 49%);
	--clr-drk-gry-blue: hsl(232, 13%, 33%);
	--clr-lnr-grad-left: hsl(236, 72%, 79%);
	--clr-lnr-grad-right: hsl(237, 63%, 64%);
}

/* ====layout==== */

body {
	height: 100vh;
	margin: 0;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
}

.cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
}

@media (min-width: 45rem) {

	.cards {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0;
	}

}

/* ====background and fonts==== */

html {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 15px;
}

body {
	background-image: url(images/bg-top.svg); 
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 35%;
	background-color: var(--clr-vry-lght-blue);
}

@media (min-width: 45rem) {

	body {
		background-image: url(images/bg-top.svg),
											url(images/bg-bottom.svg); 
		background-position: top right, bottom left;
		background-repeat: no-repeat;
		background-size: 27%;
	}
}

.card1,
.card3 {
	color: var(--clr-drk-gry-blue);
}

.card2 {
	color: #fff;
}

.month-price,
.year-price {
	font-size: 3rem;
}

button {
	font-family: inherit;
	text-transform: uppercase;
	color: #fff;
}

/* ====styles==== */

.header {
	text-align: center;
}

.cards {
	width: 100%;
}

.cards {
	text-align: center;
}

.card1,
.card2,
.card3 {
	background-color: #fff;
	width: min(20rem, 80%);
	padding: 0 1rem 1.5rem;
	border-radius: 1rem;
}

@media (min-width: 45rem) {

	.card2 {
		padding: 1.5rem 0 3rem;
	}

	.card2 button {
		width: 90%;
	}
}

.card2 {
	background: linear-gradient(var(--clr-lnr-grad-left), var(--clr-lnr-grad-right));
}

.month-price {
	display: none;
}

.container ul {
	list-style: none;
	padding: 0;
}

.container li {
	padding: 1rem 0 1rem;
	border-top: 1px solid var(--clr-vry-lght-blue);
}

.container li:last-child {
	border-bottom: 1px solid var(--clr-vry-lght-blue);
}

.card2 button {
	color: var(--clr-lnr-grad-right);
	background: #fff;
}

button {
	width: 100%;
	padding: 1rem 0;
	background: linear-gradient(var(--clr-lnr-grad-left), var(--clr-lnr-grad-right));
	border: none;
	border-radius: .3rem;
}

/* ====toggle switch==== */

.labels-toggle {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ball-box {
	padding-right: .4rem;
}

.back-box {
	position: relative;
	display: flex;
	align-items: center;
}

.back-box::before {
	display: inline-block;
	content: '';
	width: 2.5rem;
	height: 1.5rem;
	background: linear-gradient(var(--clr-lnr-grad-left), var(--clr-lnr-grad-right));
	border-radius: 1rem;
	margin-right: .4rem;
}

.back-box::after {
	position: absolute;
	left: .17rem;
	right: 0;
	content: ''; 
	width: 1.2rem;
	height: 1.2rem;
	background-color: #fff;
	border-radius: 1rem;
	transition: 200ms ease-in-out;
}

.toggle {
	opacity: 0;
	position: absolute;
	left: -9000px;
	top: -9000px;
}

/* checked styles toggle */

.toggle:checked~.header .labels-toggle .back-box::after{
	left: 1.17rem;
	transition: 200ms ease-in-out;
}

/* checked styles span */

.toggle:checked~.cards .card1 .month-price,
.toggle:checked~.cards .card2 .month-price,
.toggle:checked~.cards .card3 .month-price {
	display: inline-block;
}

.toggle:checked~.cards .card1 .year-price,
.toggle:checked~.cards .card2 .year-price,
.toggle:checked~.cards .card3 .year-price {
	display: none;
}
